<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <h1>BancoEg</h1>
      <form action="app.py" method="POST">
        <label for="nome">nome completo</label><br>
        <input type="name" id="nome" nome="nome"><br><br>
        <label for="email">E-mail</label><br>
        <input type="email" id="email" nome="email" required><br><br>
        <label for="senha">senha</label><br>
        <input type="password" id="senha" nome="senha" required><br><br>
        <input type="submit" value="entrar">
      </form>
      
      <p>fazer login</p>
      <li><a href="cadastro.html">fazer login</a></li>
      
      
      <script src="script.js"></script>
  </body>
</html>
